/* FONTS UPLOADS */

@import url('https://fonts.googleapis.com/css?family=Raleway:800');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');

/* HEADER HTML BODY */

html, body {
 height:100%;
    margin: 0;
    width: 100%;
}

/* MENU */

#menu {
    padding : 2%;
    margin : 0%;
    text-align : center;
    letter-spacing : 1%;
    background : green;
    background-repeat: no-repeat;
    height: 4%;
    overflow: hidden;
    position: fixed; 
    top: 0%;
    width: 100%;
    justify-content:center;
    align-items: center;
    flex-wrap: nowrap;
    color: green;
}

case {
    background-color: white;
    border: solid 100% white;
    padding: 0.5em;
    margin: 0%;
    margin-left: 1%;
    float: left; 
    color: green; 
    text-align: center; 
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    letter-spacing: 1%;  
}

case:hover{
    background: green;
    color:white;
}
/* BANNER */

#fond {
	padding: 12em 0 10em 0;
	font-family: 'Raleway', sans-serif;
    height: 35%;  
    width: 100%;
}

#fond h1 {
    font-size: 3em;
    font-weight: 100%;
    color: green;
    background-color: white;
    line-height : 1em;
    margin: 0 0 0.5em 0;
    width: 38%;
    padding: 1%;
    
}

#fond p {
    font-size: 100%;
    color:black;
    margin-bottom: 1.75em;
    width: 38%;
    font-family: 'Work Sans', sans serif;
    padding: 1%;
    background-color: white;
}

.fond {
    background-image: url("Fond\ 2.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* International */

#International {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

#International h1 {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 50;
    color: rgb(0, 0, 0);
    line-height: 20px;
    margin: 0 0 0.5em 0;
    width: 100%;
    padding: Opx;
}

#International p {
    font-size: 15px;
    text-align: center;
    color: rgb(78, 73, 73);
    font-family: 'Work Sans', sans serif;
    padding: Opx;
    margin: 0%;
}

#International article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

#International img{
    width: 25%;
    height: 25%;
}

/* PROFILE */

#profile {
    background-color:green;
    margin: 0px;
    padding: 5%;
    font-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#profile h1 {
    font-size: 100%;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 00;
    color: white;
    line-height: 1em;
    width: 20%;
    padding: 0%;
    margin: 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

/* Tools */

tools h2 {
    list-style-type: square;
    color:green;
    background-color: grey;
    font-size: 100%;
    margin: 3%;
    width: 100%;
    text-align: center;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* EXPERIENCES */

forme h1 {
    list-style-type: square;
    color:white;
    background-color: green;
    font-size: 100%;
    margin: 0%;
    width: 100%;
    text-align: center;
    padding: 1%;
    padding-left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

forme h2 {
    list-style-type: square;
    color:black;
    background-color: white;
    font-size: 100%;
    margin: 2%;
    text-align: left;
    padding: 0%;
    justify-content: left;
    flex-wrap: nowrap;
}
forme h3 {
    list-style-type: square;
    color:black;
    background-color: white;
    font-size: 100%;
    margin: 0%;
    text-align: left;
    padding: 0%;
    justify-content: left;
    flex-wrap: nowrap;
}

forme p {
    list-style-type: square;
    color:green;
    background-color: white;
    font-size: 100%;
    margin: 0%;
    text-align: left;
    padding: 1%;
    justify-content: left;
    flex-wrap: nowrap;
}

/* CERTIFICATES */

#certificates {
    background-color: white;
    color: black;
    margin: 0px;
    color: green;
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0px;
}

#certificates h1{
    font-family: 'Work Sans', sans serif;
    font-size: 0.7em;
}

#certificates h2{
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}

/* CONTACTME */

#contactme {
    background-color: green;
    margin: 1%;
    color: white;
    text-align: center; 
    padding: 1%;
}

/*RESPONSIVE*/

/**mobile**/
@media screen and (max-width: 600px) {
profile {
    flex-wrap: nowrap;
    flex-direction: row;
    width: 80%;    
}
}